<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,526}</string>
                <key>spriteSourceSize</key>
                <string>{673,526}</string>
                <key>textureRect</key>
                <string>{{1,1},{673,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activity_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1,652},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activity_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,96}</string>
                <key>spriteSourceSize</key>
                <string>{426,96}</string>
                <key>textureRect</key>
                <string>{{95,529},{426,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activity_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,67}</string>
                <key>spriteSourceSize</key>
                <string>{366,67}</string>
                <key>textureRect</key>
                <string>{{95,627},{366,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activity_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{523,529},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activity_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,45}</string>
                <key>spriteSourceSize</key>
                <string>{121,45}</string>
                <key>textureRect</key>
                <string>{{1,529},{121,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>activity_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,45}</string>
                <key>spriteSourceSize</key>
                <string>{121,45}</string>
                <key>textureRect</key>
                <string>{{48,529},{121,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>activity.png</string>
            <key>size</key>
            <string>{675,695}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a87d812f49b4abfac5ed2b63d17465ef:8128f48efd7b98c28e5fdc1d69ec4b28:f1ee0422222834884864523f7ea05860$</string>
            <key>textureFileName</key>
            <string>activity.png</string>
        </dict>
    </dict>
</plist>
