<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Slime Pavilion_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,737}</string>
                <key>spriteSourceSize</key>
                <string>{451,737}</string>
                <key>textureRect</key>
                <string>{{1,1},{451,737}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{708,128}</string>
                <key>spriteSourceSize</key>
                <string>{708,128}</string>
                <key>textureRect</key>
                <string>{{1,538},{708,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,335}</string>
                <key>spriteSourceSize</key>
                <string>{251,335}</string>
                <key>textureRect</key>
                <string>{{740,33},{251,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,26}</string>
                <key>spriteSourceSize</key>
                <string>{248,26}</string>
                <key>textureRect</key>
                <string>{{711,538},{248,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,30}</string>
                <key>spriteSourceSize</key>
                <string>{252,30}</string>
                <key>textureRect</key>
                <string>{{740,1},{252,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,601}</string>
                <key>spriteSourceSize</key>
                <string>{604,601}</string>
                <key>textureRect</key>
                <string>{{1,668},{604,601}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,48}</string>
                <key>spriteSourceSize</key>
                <string>{166,48}</string>
                <key>textureRect</key>
                <string>{{839,875},{166,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,53}</string>
                <key>spriteSourceSize</key>
                <string>{274,53}</string>
                <key>textureRect</key>
                <string>{{730,820},{274,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,95}</string>
                <key>spriteSourceSize</key>
                <string>{140,95}</string>
                <key>textureRect</key>
                <string>{{839,1075},{140,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,36}</string>
                <key>spriteSourceSize</key>
                <string>{51,36}</string>
                <key>textureRect</key>
                <string>{{670,668},{51,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,82}</string>
                <key>spriteSourceSize</key>
                <string>{720,82}</string>
                <key>textureRect</key>
                <string>{{1,454},{720,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,317}</string>
                <key>spriteSourceSize</key>
                <string>{233,317}</string>
                <key>textureRect</key>
                <string>{{604,957},{233,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,84}</string>
                <key>spriteSourceSize</key>
                <string>{106,84}</string>
                <key>textureRect</key>
                <string>{{604,871},{106,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{604,668},{110,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,81}</string>
                <key>spriteSourceSize</key>
                <string>{124,81}</string>
                <key>textureRect</key>
                <string>{{604,788},{124,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,250}</string>
                <key>spriteSourceSize</key>
                <string>{448,250}</string>
                <key>textureRect</key>
                <string>{{740,370},{448,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,51}</string>
                <key>spriteSourceSize</key>
                <string>{153,51}</string>
                <key>textureRect</key>
                <string>{{839,925},{153,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{670,721},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{786,875},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{670,758},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{712,875},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,14}</string>
                <key>spriteSourceSize</key>
                <string>{189,14}</string>
                <key>textureRect</key>
                <string>{{992,370},{189,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,95}</string>
                <key>spriteSourceSize</key>
                <string>{140,95}</string>
                <key>textureRect</key>
                <string>{{839,1172},{140,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,95}</string>
                <key>spriteSourceSize</key>
                <string>{143,95}</string>
                <key>textureRect</key>
                <string>{{839,978},{143,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Slime Pavilion.png</string>
            <key>size</key>
            <string>{1007,1275}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ecf7aa7a8b9ee4d5354429275d757a1:19d11c3992eaac4066f7013572d47f39:238c49b0b6bab667aaede168c562c5eb$</string>
            <key>textureFileName</key>
            <string>Slime Pavilion.png</string>
        </dict>
    </dict>
</plist>
