<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,124}</string>
                <key>spriteSourceSize</key>
                <string>{113,124}</string>
                <key>textureRect</key>
                <string>{{362,822},{113,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,868}</string>
                <key>spriteSourceSize</key>
                <string>{416,868}</string>
                <key>textureRect</key>
                <string>{{1,1},{416,868}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,224}</string>
                <key>spriteSourceSize</key>
                <string>{223,224}</string>
                <key>textureRect</key>
                <string>{{170,596},{223,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,305}</string>
                <key>spriteSourceSize</key>
                <string>{227,305}</string>
                <key>textureRect</key>
                <string>{{866,1238},{227,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,149}</string>
                <key>spriteSourceSize</key>
                <string>{720,149}</string>
                <key>textureRect</key>
                <string>{{1,419},{720,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,60}</string>
                <key>spriteSourceSize</key>
                <string>{171,60}</string>
                <key>textureRect</key>
                <string>{{1339,280},{171,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,77}</string>
                <key>spriteSourceSize</key>
                <string>{175,77}</string>
                <key>textureRect</key>
                <string>{{1322,1238},{175,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,44}</string>
                <key>spriteSourceSize</key>
                <string>{70,44}</string>
                <key>textureRect</key>
                <string>{{616,570},{70,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,50}</string>
                <key>spriteSourceSize</key>
                <string>{151,50}</string>
                <key>textureRect</key>
                <string>{{103,823},{151,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,50}</string>
                <key>spriteSourceSize</key>
                <string>{151,50}</string>
                <key>textureRect</key>
                <string>{{155,823},{151,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,49}</string>
                <key>spriteSourceSize</key>
                <string>{151,49}</string>
                <key>textureRect</key>
                <string>{{311,822},{151,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,50}</string>
                <key>spriteSourceSize</key>
                <string>{151,50}</string>
                <key>textureRect</key>
                <string>{{207,822},{151,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,50}</string>
                <key>spriteSourceSize</key>
                <string>{151,50}</string>
                <key>textureRect</key>
                <string>{{259,822},{151,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{1339,702},{50,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,53}</string>
                <key>spriteSourceSize</key>
                <string>{58,53}</string>
                <key>textureRect</key>
                <string>{{1339,647},{58,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{822,897},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,31}</string>
                <key>spriteSourceSize</key>
                <string>{191,31}</string>
                <key>textureRect</key>
                <string>{{362,948},{191,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,88}</string>
                <key>spriteSourceSize</key>
                <string>{92,88}</string>
                <key>textureRect</key>
                <string>{{1239,988},{92,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{459,207}</string>
                <key>spriteSourceSize</key>
                <string>{459,207}</string>
                <key>textureRect</key>
                <string>{{1,1096},{459,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,204}</string>
                <key>spriteSourceSize</key>
                <string>{177,204}</string>
                <key>textureRect</key>
                <string>{{688,596},{177,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,204}</string>
                <key>spriteSourceSize</key>
                <string>{177,204}</string>
                <key>textureRect</key>
                <string>{{616,802},{177,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,72}</string>
                <key>spriteSourceSize</key>
                <string>{532,72}</string>
                <key>textureRect</key>
                <string>{{871,131},{532,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,94}</string>
                <key>spriteSourceSize</key>
                <string>{152,94}</string>
                <key>textureRect</key>
                <string>{{1085,988},{152,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,46}</string>
                <key>spriteSourceSize</key>
                <string>{135,46}</string>
                <key>textureRect</key>
                <string>{{723,548},{135,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,457}</string>
                <key>spriteSourceSize</key>
                <string>{654,457}</string>
                <key>textureRect</key>
                <string>{{210,1096},{654,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,53}</string>
                <key>spriteSourceSize</key>
                <string>{155,53}</string>
                <key>textureRect</key>
                <string>{{1339,754},{155,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,65}</string>
                <key>spriteSourceSize</key>
                <string>{225,65}</string>
                <key>textureRect</key>
                <string>{{1095,1238},{225,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,37}</string>
                <key>spriteSourceSize</key>
                <string>{144,37}</string>
                <key>textureRect</key>
                <string>{{723,419},{144,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,100}</string>
                <key>spriteSourceSize</key>
                <string>{413,100}</string>
                <key>textureRect</key>
                <string>{{670,988},{413,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,128}</string>
                <key>spriteSourceSize</key>
                <string>{532,128}</string>
                <key>textureRect</key>
                <string>{{871,1},{532,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,37}</string>
                <key>spriteSourceSize</key>
                <string>{144,37}</string>
                <key>textureRect</key>
                <string>{{723,458},{144,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,100}</string>
                <key>spriteSourceSize</key>
                <string>{413,100}</string>
                <key>textureRect</key>
                <string>{{1,570},{413,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,65}</string>
                <key>spriteSourceSize</key>
                <string>{225,65}</string>
                <key>textureRect</key>
                <string>{{1095,1305},{225,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,65}</string>
                <key>spriteSourceSize</key>
                <string>{225,65}</string>
                <key>textureRect</key>
                <string>{{1095,1372},{225,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{537,105}</string>
                <key>spriteSourceSize</key>
                <string>{537,105}</string>
                <key>textureRect</key>
                <string>{{1,988},{537,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,17}</string>
                <key>spriteSourceSize</key>
                <string>{41,17}</string>
                <key>textureRect</key>
                <string>{{1280,1506},{41,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,17}</string>
                <key>spriteSourceSize</key>
                <string>{41,17}</string>
                <key>textureRect</key>
                <string>{{1299,1506},{41,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,68}</string>
                <key>spriteSourceSize</key>
                <string>{123,68}</string>
                <key>textureRect</key>
                <string>{{477,810},{123,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,68}</string>
                <key>spriteSourceSize</key>
                <string>{123,68}</string>
                <key>textureRect</key>
                <string>{{616,616},{123,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,73}</string>
                <key>spriteSourceSize</key>
                <string>{520,73}</string>
                <key>textureRect</key>
                <string>{{871,205},{520,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{822,802},{42,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{1373,1449},{42,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{537,99}</string>
                <key>spriteSourceSize</key>
                <string>{537,99}</string>
                <key>textureRect</key>
                <string>{{866,1096},{537,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,102}</string>
                <key>spriteSourceSize</key>
                <string>{128,102}</string>
                <key>textureRect</key>
                <string>{{540,988},{128,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,43}</string>
                <key>spriteSourceSize</key>
                <string>{212,43}</string>
                <key>textureRect</key>
                <string>{{436,596},{212,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,43}</string>
                <key>spriteSourceSize</key>
                <string>{212,43}</string>
                <key>textureRect</key>
                <string>{{481,596},{212,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,47}</string>
                <key>spriteSourceSize</key>
                <string>{169,47}</string>
                <key>textureRect</key>
                <string>{{555,810},{169,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,43}</string>
                <key>spriteSourceSize</key>
                <string>{212,43}</string>
                <key>textureRect</key>
                <string>{{526,596},{212,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,49}</string>
                <key>spriteSourceSize</key>
                <string>{142,49}</string>
                <key>textureRect</key>
                <string>{{1322,1415},{142,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,49}</string>
                <key>spriteSourceSize</key>
                <string>{142,49}</string>
                <key>textureRect</key>
                <string>{{723,497},{142,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{537,39}</string>
                <key>spriteSourceSize</key>
                <string>{537,39}</string>
                <key>textureRect</key>
                <string>{{866,1197},{537,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,39}</string>
                <key>spriteSourceSize</key>
                <string>{216,39}</string>
                <key>textureRect</key>
                <string>{{395,596},{216,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,65}</string>
                <key>spriteSourceSize</key>
                <string>{225,65}</string>
                <key>textureRect</key>
                <string>{{1095,1439},{225,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,65}</string>
                <key>spriteSourceSize</key>
                <string>{225,65}</string>
                <key>textureRect</key>
                <string>{{103,596},{225,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,43}</string>
                <key>spriteSourceSize</key>
                <string>{212,43}</string>
                <key>textureRect</key>
                <string>{{571,596},{212,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,50}</string>
                <key>spriteSourceSize</key>
                <string>{183,50}</string>
                <key>textureRect</key>
                <string>{{1339,911},{183,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,50}</string>
                <key>spriteSourceSize</key>
                <string>{183,50}</string>
                <key>textureRect</key>
                <string>{{1095,1506},{183,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,59}</string>
                <key>spriteSourceSize</key>
                <string>{192,59}</string>
                <key>textureRect</key>
                <string>{{1339,453},{192,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{466,706}</string>
                <key>spriteSourceSize</key>
                <string>{466,706}</string>
                <key>textureRect</key>
                <string>{{871,280},{466,706}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{1373,1415},{32,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,49}</string>
                <key>spriteSourceSize</key>
                <string>{43,49}</string>
                <key>textureRect</key>
                <string>{{822,846},{43,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Club.png</string>
            <key>size</key>
            <string>{1404,1558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0089266534e6ab43d5ed13880f9592b2:6e3b923f43f3143a17c7844a5e49afd0:fed63ec840cb8fa1f8b3198680be6d34$</string>
            <key>textureFileName</key>
            <string>Club.png</string>
        </dict>
    </dict>
</plist>
